{% extends "blog.html" %} {% block content %}
<div class="background-general">
  <section class="text-inter">
    <h2>Brigada juvenil</h2>
  </section>
</div>
<h2 class="title-information-section">
  Reseña Histórica de la Brigada Juvenil e Infantil
</h2>

<div class="row-information aling-center">
  <section class="content-text">
    <h2>Fundación y Orígenes</h2>
    <br />
    <p>
      La Brigada Juvenil e Infantil fue fundada el 22 de diciembre de 1985 por
      cuatro jóvenes visionarios provenientes de Caracas: Brigadier Beatriz
      Mora, Sub-brigadier Oscar Moreno, Sub-brigadier Andri Barbosa y
      Sub-brigadier José Luis Moreno.
    </p>

    <p>
      Estos jóvenes se unieron con el propósito de formar una brigada que no
      solo preparara a futuros bomberos, sino que también inculcara valores
      fundamentales en los niños y jóvenes de la comunidad.
    </p>
    <p>
      El Sub-brigadier Oscar Moreno, uno de los fundadores, se destacó por su
      dedicación y compromiso. Se graduó en ciencias sociales y ejerció como
      capellán, brindando apoyo espiritual y emocional a los miembros de la
      brigada.
    </p>
  </section>
  <section class="content-text">
    <h2>Lema de la Brigada Juvenil e Infantil</h2>
    <br />
    <ul>
      <li>
        <b> Disciplina: </b>
        Se refiere al conjunto de reglas y parámetros que sirven como
        indicativos para mejorar nuestra conducta en cualquier momento y lugar.
        La disciplina es fundamental para el desarrollo personal y profesional
        de los jóvenes brigadistas.
      </li>
      <br />
      <li>
        <b> Abnegación: </b>
        Es el principio o valor que nos conduce a realizar acciones sin esperar
        nada a cambio, tan solo la satisfacción espiritual y personal. La
        abnegación es esencial para el servicio desinteresado y el compromiso
        con la comunidad.
      </li>
      <br />
      <li>
        <b> Estudio: </b>
        Es la acción del proceso de aprendizaje, el esfuerzo por entender lo
        enseñado, a fin de cambiar conductas y mejorar así el futuro personal.
        El estudio es crucial para el crecimiento intelectual y la preparación
        de los jóvenes para enfrentar los desafíos del futuro.
      </li>
    </ul>
  </section>
</div>
<div class="rows-images-information">
  <section class="image-information">
    <img src="" alt="img-1" />
  </section>
  <section class="image-information">
    <img src="" alt="img-1" />
  </section>
  <section class="image-information">
    <img src="" alt="img-1" />
  </section>
</div>
<h2 class="title-information-section">Colaboradores y Jefes de Brigada</h2>
<div class="row-information">
  <section class="content-image">
    <img src="" alt="image" />
  </section>
  <section class="content-text">
    <p>
      Desde su fundación, la brigada ha contado con una serie de colaboradores
      destacados que han asumido el rol de jefes de brigada. Entre ellos se
      encuentran:
    </p>
    <ul>
      <li>Teniente Coronel Yuri Bermúdez</li>
      <li>Capitán Kelwin Álvarez</li>
      <li>Sargento Ayudante Wilson Blanco</li>
      <li>Sub-Teniente Yerson García (actual Jefe de Brigada)</li>
    </ul>
    <p>
      Estos líderes han desempeñado un papel crucial en la formación y
      desarrollo de los jóvenes brigadistas, guiándolos con su experiencia y
      dedicación.
    </p>
  </section>
</div>
<div class="row-information">
  <section class="content-text">
    <h2>Objetivo General</h2>
    <br />
    <p>
      El objetivo general de la brigada es captar y preparar a niños y jóvenes
      útiles a la patria, futuros miembros del cuerpo de Bomberos San
      Cristobalense.
    </p>
    <p>
      De manera específica, se enfoca en preparar a los jóvenes integrantes de
      esta brigada a nivel físico, mental y espiritual, en pro de formar mejores
      seres humanos.
    </p>
    <p>
      Además, se les enseña las responsabilidades y las diferentes formas de
      asumirlas dentro y fuera de la institución. Por último, se les integra al
      conocimiento de las emergencias, su atención y tratamiento, para que
      puedan servir a la comunidad en general.
    </p>
  </section>
  <section class="content-image">
    <img src="" alt="image" />
  </section>
</div>
<div class="row-information">
  <section class="content-image">
    <img src="" alt="image" />
  </section>
  <section class="content-text">
    <h2>Reconocimiento y Nombre Oficial</h2>
    <br>
    <p>
      El 20 de agosto del año 2000, la brigada recibió el nombre oficial de
      "Brigada Juvenil e Infantil Dtgd. (F) Carlos Reinaldo Rueda Contreras", en
      honor a un destacado miembro de la comunidad.
    </p>
  </section>
</div>

{% endblock %}
