{% extends "blog.html" %} {% block content %}
<div class="background-general to-drone">
  <section class="text-inter">
    <h2>Drones</h2>
  </section>
</div>
<h2 class="title-information-section">Uso</h2>

<div class="row-information aling-center">
  <section class="content-text">
    <p>
      Uso de Drones en el Cuerpo de Bomberos de San Cristóbal, Estado Táchira.
    </p>
    <p>
      Hemos incorporado el uso de drones como una herramienta esencial para
      mejorar nuestras operaciones y garantizar la seguridad de nuestra
      comunidad.
    </p>
    <p>
      Los drones nos permiten realizar una variedad de tareas cruciales, entre
      las que se incluyen.
    </p>
  </section>
  <section class="content-text">
    <p>
      Esto nos permite tomar decisiones informadas y ajustar nuestras
      estrategias según sea necesario.
    </p>
    <p>
      El uso de drones ha revolucionado nuestras operaciones, permitiéndonos ser
      más eficientes y efectivos en nuestra misión de proteger y servir a la
      comunidad de San Cristóbal.
    </p>
    <p>
      Prevención de Riesgos, Tomas Aéreas, Búsqueda y Rescate, Monitoreo en
      tiempo real, Evaluacion de daños.
    </p>
  </section>
</div>

<div class="row-information">
  <section class="content-image">
    <img src="https://i.postimg.cc/W11JndNN/prueba1.png" alt="image" />
  </section>
  <section class="content-text">
    <h2>Prevención de Riesgos</h2>
    <br />
    <p>
      Utilizamos drones para inspeccionar áreas de difícil acceso y evaluar
      posibles riesgos antes de que se conviertan en emergencias. Esto nos
      permite tomar medidas preventivas y reducir el riesgo de incidentes.
    </p>
  </section>
</div>
<div class="row-information">
  <section class="content-text">
    <h2>Tomas Aéreas</h2>
    <br />
    <p>
      Los drones nos proporcionan una vista aérea detallada de las áreas
      afectadas por incendios, inundaciones u otros desastres. Esta perspectiva
      nos ayuda a planificar y coordinar nuestras operaciones de manera más
      efectiva.
    </p>
  </section>
  <section class="content-image">
    <img src="https://i.postimg.cc/tTx6x8XF/toma-aerea.png" alt="image" />
  </section>
</div>
<div class="row-information">
  <section class="content-image order-by">
    <img src="https://i.postimg.cc/9FjdGXw0/rescate2.png" alt="image" />
  </section>
  <section class="content-text">
    <h2>Búsqueda y Rescate</h2>
    <br />
    <p>
      En situaciones de búsqueda y rescate, los drones son una herramienta
      invaluable. Equipados con cámaras térmicas y de alta resolución, nos
      permiten localizar a personas desaparecidas en terrenos difíciles y en
      condiciones adversas.
    </p>
  </section>
</div>
<div class="row-information">
  <section class="content-text">
    <h2>Monitoreo en Tiempo Real</h2>
    <br />
    <p>
      Durante las operaciones de emergencia, los drones nos ofrecen la capacidad
      de monitorear la situación en tiempo real. Esto nos permite tomar
      decisiones informadas y ajustar nuestras estrategias según sea necesario.
    </p>
  </section>
  <section class="content-image">
    <img src="https://i.postimg.cc/J03BTJHn/monitoreo.png" alt="image" />
  </section>
</div>
<div class="row-information">
  <section class="content-image order-by">
    <img src="https://i.postimg.cc/ncZmXdNQ/evaluacion.png" alt="image" />
  </section>
  <section class="content-text">
    <h2>Evaluación de Daños:</h2>
    <br />
    <p>
      Después de un incidente, utilizamos drones para evaluar los daños y
      documentar la situación. Esto no solo facilita la planificación de la
      recuperación, sino que también proporciona evidencia visual para informes
      y análisis posteriores.
    </p>
  </section>
</div>
<div class="information-center">
  <section class="information-aboutme">
    <h3>Beneficios</h3>
    <p>
      El uso de drones ha revolucionado nuestras operaciones, permitiéndonos ser
      más eficientes y efectivos en nuestra misión de proteger y servir a la
      comunidad de San Cristóbal. Continuaremos explorando nuevas formas de
      integrar esta tecnología en nuestras actividades diarias para seguir
      mejorando nuestros servicios.
    </p>
  </section>
</div>
<div class="rows-video">
  <div class="content-video">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/ufVXY-M5uF4?si=e-tx07lZdAGmK-6W"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
  <div class="content-video">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/OXGPAJE0lBc?si=viKrG0seWqpvWPck"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
  <div class="content-video">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/q0vvKp4RiyQ?si=NiTgudCMF0SHrQlx"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
  <div class="content-video">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/8kUW3CAMSYw?si=ip2LeSbjO4DCt_jE"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
  <div class="content-video">
    <iframe
      src="https://www.youtube.com/embed/iLoQWKGPzc0?si=ftpyssyj2hV8c1_J"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
</div>

{% endblock %}
