{% extends "blog.html" %} {% block content %}
<div class="background-general to-glp">
  <section class="text-inter">
    <h2>Prevencion por GLP</h2>
  </section>
</div>
<h2 class="title-information-section">Información General sobre GLP</h2>

<div class="row-information aling-center">
  <section class="content-text">
    <h2>¿Qué es el GLP?</h2>
    <br />
    <p>
      (Gas Licuado de Petróleo) es una mezcla de gases, principalmente propano y
      butano, que se mezclan a presiones moderadas y se utilizan comúnmente como
      combustible en hogares e industrias.
    </p>
  </section>
  <section class="content-text">
    <h2>Características del GLP</h2>
    <br />
    <p>
      Es un gas inflamable, más pesado que el aire, y que se le agrega un
      odorante (mercaptano) para percibir fugas, ya que en su estado natural no
      tiene olor.
    </p>
  </section>
</div>
<h2 class="title-information-section">Recomendaciones de Seguridad</h2>
<div class="row-information">
  <section class="content-image order-by">
    <img src="https://i.postimg.cc/8CdNM2V7/IMG-20241128-WA0047.jpg" alt="image" />
  </section>
  <section class="content-text">
    <h2>Almacenamiento:</h2>
    <br />
    <p>
      Los cilindros de GLP deben almacenarse en lugares ventilados, fuera de la
      casa, sobre una base firme y sujetos a la estructura. Mantén los cilindros
      alejados de fuentes de ignición y materiales combustibles.
    </p>
  </section>
</div>
<div class="row-information">
  <section class="content-text">
    <h2>Instalación:</h2>
    <br />
    <p>
      La instalación debe ser realizada por un técnico certificado. Utiliza
      mangueras y reguladores certificados para GLP. Verifica que las conexiones
      estén bien selladas utilizando agua jabonosa para detectar posibles fugas.
    </p>
  </section>
  <section class="content-image">
    <img src="https://i.postimg.cc/QtR2zSD2/IMG-20241128-WA0030.jpg" alt="image" class="edit"/>
  </section>
</div>
<div class="row-information ">
  <section class="content-image order-by">
    <img src="https://i.postimg.cc/3RM95qyF/IMG-20241128-WA0018.jpg" alt="image" />
  </section>
  <section class="content-text">
    <h2>Uso:</h2>
    <p>
      No uses cilindros visiblemente dañados o corroídos. Mantén los cilindros
      en posición vertical durante el transporte y uso. Asegúrate de que las
      llaves de paso estén cerradas cuando no se esté utilizando el gas.
    </p>
  </section>
</div>
<h2 class="title-information-section">¿Qué Hacer en Caso de Fuga?</h2>
<div class="row-information aling-center">
  <section class="content-text">
    <h2>Detección de Fugas</h2>
    <br />
    <p>
      Si percibes olor a gas (similar a huevo podrido), alerta a los demás
      ocupantes y evacúa el área inmediatamente. No manipules interruptores de
      luz ni dispositivos eléctricos. Ventilar el area, abriendo puertas y
      ventanas.
    </p>
    <p>
      Llama al número de emergencia (911) o al cuerpo de bomberos (02763534344) desde un lugar seguro. Información
      Adicional
    </p>
  </section>
  <section class="content-text">
    <h2>Mantenimiento</h2>
    <br />
    <p>
      Realiza inspecciones periódicas de los cilindros y las instalaciones de
      GLP. No intentes reparar cilindros dañados; en su lugar, contacta a un
      profesional.
    </p>
  </section>
</div>
<h2 class="title-information-section">Retenciones</h2>
<div class="row-information aling-center">
  <section class="content-text">
    <h2>Recomendaciones:</h2>
    <br />
    <p>
      Si percibes un olor extraño o gas, llama inmediatamente al cuerpo de
      bomberos (02763534344) o al 911 para que realicen una inspección del cilindro y
      determinen si tiene algún defecto o ruptura.
    </p>
  </section>
  <section class="content-text">
    <h2>Acciones:</h2>
    <br />
    <p>
      Se decomisa el cilindro para minimizar el riesgo tanto para el usuario
      como para la vivienda.
    </p>
  </section>
</div>

{% endblock %}
