{% extends "blog.html" %} {% block content %}
<div class="background-general">
  <section class="text-inter">
    <h2>Prevencion por GLP</h2>
  </section>
</div>
<h2 class="title-information-section">Información General sobre GLP</h2>

<div class="row-information aling-center">
  <section class="content-text">
    <h2>¿Qué es el GLP?</h2>
    <br />
    <p>
      (Gas Licuado de Petróleo) es una mezcla de gases,
      principalmente propano y butano, que se licuan a presiones moderadas y se
      utilizan comúnmente como combustible en hogares e industrias.
    </p>
  </section>
  <section class="content-text">
    <h2>Características del GLP</h2>
    <br />
    <p>
      Es un gas inflamable, más pesado que el aire, y que se le
      agrega un odorante (mercaptano) para detectar fugas, ya que en su estado
      natural no tiene olor.
    </p>
  </section>
</div>
<div class="rows-images-information">
  <section class="image-information">
    <img src="" alt="img-1" />
  </section>
  <section class="image-information">
    <img src="" alt="img-1" />
  </section>
</div>
<h2 class="title-information-section">Recomendaciones de Seguridad</h2>
<div class="row-information">
  <section class="content-image">
    <img src="" alt="image" />
  </section>
  <section class="content-text">
    <h2>Almacenamiento:</h2>
    <br />
    <p>
      Los cilindros de GLP deben almacenarse en lugares ventilados, fuera de la
      casa, sobre una base firme y sujetos a la estructura. Mantén los cilindros
      alejados de fuentes de ignición y materiales combustibles.
    </p>
  </section>
</div>
<div class="row-information">
  <section class="content-text">
    <h2>Instalación:</h2>
    <br />
    <p>
      La instalación debe ser realizada por un técnico certificado. Utiliza
      mangueras y reguladores certificados para GLP. Verifica que las conexiones
      estén bien selladas utilizando agua jabonosa para detectar posibles fugas.
    </p>
  </section>
  <section class="content-image">
    <img src="" alt="image" />
  </section>
</div>
<div class="row-information">
  <section class="content-image">
    <img src="" alt="image" />
  </section>
  <section class="content-text">
    <h2>Uso:</h2>
    <p>
      No uses cilindros visiblemente dañados o corroídos. Mantén los cilindros
      en posición vertical durante el transporte y uso. Asegúrate de que las
      llaves de paso estén cerradas cuando no se esté utilizando el gas.
    </p>
  </section>
</div>
<h2 class="title-information-section">¿Qué Hacer en Caso de Fuga?</h2>
<div class="row-information aling-center">
  <section class="content-text ">
    <h2>Detección de Fugas</h3>
      <br>
    <p>
      Si percibes olor a gas (similar a huevo podrido), alerta a los demás
      ocupantes y evacúa el área inmediatamente. No manipules interruptores de
      luz ni dispositivos eléctricos. Llama al número de emergencia (911) desde
      un lugar seguro. Información Adicional
    </p>
  </section>
  <section class="content-text">
    <h2>Mantenimiento</h3>
      <br>
    <p>
      Realiza inspecciones periódicas de los cilindros y las instalaciones de
      GLP. No intentes reparar cilindros dañados; en su lugar, contacta a un
      profesional.
    </p>
  </section>
</div>

{% endblock %}
