{% extends "blog.html" %} {% block content %}
<div class="background-general to-situacional">
  <section class="text-inter">
    <h2>Sala Situacional</h2>
  </section>
</div>
<h2 class="title-information-section">Titulo</h2>

<div class="row-information">
  <section class="content-text">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ullam aut
      iste voluptates sint voluptatem recusandae eum porro adipisci, error enim
      eaque. Incidunt, et laboriosam laborum quod perferendis quisquam omnis.
    </p>
  </section>
  <section class="content-text">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ullam aut
      iste voluptates sint voluptatem recusandae eum porro adipisci, error enim
      eaque. Incidunt, et laboriosam laborum quod perferendis quisquam omnis.
    </p>
  </section>
</div>
<h2 class="title-information-section">Jefe Sala Situacional</h2>
<div class="row-information">
  <section class="content-image">
    <img src="https://i.postimg.cc/yYJ3qyRL/IMG-20241126-140227.jpg" alt="image" />
  </section>
  <section class="content-text">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta totam
      veniam blanditiis perferendis ipsam minima maiores doloremque eos itaque
      ut. Fugit dicta quaerat culpa, libero dolor tempora cum natus voluptatem!
    </p>
  </section>
</div>
<div class="row-information">
  <section class="content-text">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta totam
      veniam blanditiis perferendis ipsam minima maiores doloremque eos itaque
      ut. Fugit dicta quaerat culpa, libero dolor tempora cum natus voluptatem!
    </p>
  </section>
  <section class="content-image">
    <img src="https://i.postimg.cc/qvsR0bvx/IMG-20241126-140018.jpg" alt="image" />
  </section>
</div>
<div class="row-information">
  <section class="content-image order-by">
    <img src="https://i.postimg.cc/MZgVpLqC/IMG-20241126-135945.jpg" alt="image" />
  </section>
  <section class="content-text">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta totam
      veniam blanditiis perferendis ipsam minima maiores doloremque eos itaque
      ut. Fugit dicta quaerat culpa, libero dolor tempora cum natus voluptatem!
    </p>
  </section>
</div>

<div class="information-center">
  <section class="information-aboutme">
    <h3>title</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit maiores quia
      neque eaque, officiis, nobis quaerat ipsum ut cupiditate laudantium
      exercitationem ea vel esse dignissimos adipisci, illum fugit qui pariatur!
    </p>
  </section>
  <section class="information-aboutme">
    <h3>title</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro alias,
      tempore fugiat iste quas magnam asperiores explicabo quibusdam ex dolore
      soluta, unde impedit culpa corporis, laborum sequi repellendus incidunt
      illo!
    </p>
  </section>
</div>

{% endblock %}
