{% extends "blog.html" %} {% block content %}
<div class="background-general to-situacional">
  <section class="text-inter">
    <h2>Sala Situacional</h2>
  </section>
</div>
<h2 class="title-information-section">Monitoreo</h2>

<div class="row-information aling-center">
  <section class="content-text">
    <p>
      La sala situacional es un espacio de análisis tanto físico como virtual,
      dedicado a la recopilación, procesamiento y visualización de información
      relevante sobre las actuaciones del Cuerpo de Bomberos de San Cristóbal.
      Este espacio está diseñado para proporcionar una visión integral y
      actualizada de las principales avenidas y áreas de la ciudad, facilitando
      así la toma de decisiones informadas y oportunas.
    </p>
    <p>
      Además, la sala situacional está equipada con herramientas técnicas
      avanzadas de vigilancia y monitoreo, que permiten generar información
      precisa y oportuna sobre las condiciones y eventos que afectan a la
      ciudad. Estas herramientas son esenciales para la identificación temprana
      de riesgos y la implementación de medidas preventivas y correctivas. El
      Sistema de Información de la sala situacional permite registrar y analizar
      todos los servicios prestados por la Institución Bomberil, tanto en el
      ámbito de emergencias como en servicios no emergentes.
    </p>
  </section>
  <section class="content-text">
    <p>
      Este sistema es fundamental para mantener un registro detallado y
      accesible de las actividades y respuestas del cuerpo de bomberos,
      asegurando así una gestión eficiente y transparente. La información
      actualizada y oportuna sobre las variables e indicadores coyunturales de
      San Cristóbal y sus zonas adyacentes es crucial para el análisis de la
      situación actual y la toma de decisiones estratégicas.
    </p>
    <p>
      Esta información permite a los tomadores de decisiones anticipar y
      responder de manera efectiva a las emergencias y otros eventos
      significativos. Entre las funciones principales de la sala situacional se
      encuentran: Proporcionar información ordenada y analizada sistemáticamente
      a nivel municipal para los tomadores de decisiones. Generar alertas sobre
      la situación de afectación y activar los protocolos institucionales de
      atención establecidos.
    </p>
  </section>
</div>
<div class="row-information">
  <section class="content-image">
    <img
      src="https://i.postimg.cc/yYJ3qyRL/IMG-20241126-140227.jpg"
      alt="image"
    />
  </section>
  <section class="content-text">
    <h2>Jefe Sala Situacional</h2>
    <p>
      Primer Teniente (B) Ing Daniel Alarcon. Jefe encargado.
    </p>
    <p><b>Horario:</b> Administrativo</p>
  </section>
</div>
<div class="row-information">
  <section class="content-text">
    <p>
      Además, la sala situacional está equipada con herramientas técnicas
      avanzadas de vigilancia y monitoreo, que permiten generar información
      precisa y oportuna sobre las condiciones y eventos que afectan a la
      ciudad. Estas herramientas son esenciales para la identificación temprana
      de riesgos y la implementación de medidas preventivas y correctivas.
    </p>
  </section>
  <section class="content-image">
    <img
      src="https://i.postimg.cc/qvsR0bvx/IMG-20241126-140018.jpg"
      alt="image"
    />
  </section>
</div>
<div class="row-information">
  <section class="content-image order-by">
    <img
      src="https://i.postimg.cc/MZgVpLqC/IMG-20241126-135945.jpg"
      alt="image"
    />
  </section>
  <section class="content-text">
    <p>
      El Sistema de Información de la sala situacional permite registrar y
      analizar todos los servicios prestados por la Institución Bomberil, tanto
      en el ámbito de emergencias como en servicios no emergentes. Este sistema
      es fundamental para mantener un registro detallado y accesible de las
      actividades y respuestas del cuerpo de bomberos, asegurando así una
      gestión eficiente y transparente.
    </p>
  </section>
</div>

<div class="information-center">
  <section class="information-aboutme">
    <h3>Funciones Principales</h3>
    <P>
      • Proporcionar información ordenada y analizada sistemáticamente a nivel
      municipal para los tomadores de decisiones.
    </P>
    <P>
      • Generar alertas sobre la situación de afectación y activar los
      protocolos institucionales de atención establecidos.
    </P>  
    </ul>
  </section>
  <section class="information-aboutme">
    <p>
      La información actualizada y oportuna sobre las variables e indicadores coyunturales de San Cristóbal y sus zonas adyacentes es crucial para el análisis de la situación actual y la toma de decisiones estratégicas.
    </p>
    <P>
      Esta información permite a los tomadores de decisiones anticipar y responder de manera efectiva a las emergencias y otros eventos significativos.
    </P>
  </section>
</div>

{% endblock %}
