# Python bytecode
*.pyc
__pycache__/
# Entornos virtuales
venv/
.venv/
# Variables de entorno
*.env
# Bases de datos
db.sqlite3
*.db
# Migraciones (ignora todo excepto __init__.py)
**/migrations/*
!**/migrations/__init__.py
# Archivos SQL
*.sql
# # Configuración sensible de Django
# Web_App/settings.py
