{% load crispy_forms_tags %}
{% load static %}
<div class="container bg-white rounded p-2 mx-auto w-100">
    <h3>Registrar Consumo</h3>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="POST"

        data-url="{% url 'obtener_lotes_insumos_medicos' %}" 
        data-inventario-id="{{ inventario_id|default:"null" }}">
        {% csrf_token %}
        <div>
    {{ form.insumo.label_tag }}
    {{ form.insumo }}
</div>
<div>
    {{ form.lote.label_tag }}
    {{ form.lote }}
</div>
<div>
    {{ form.cantidad.label_tag }}
    {{ form.cantidad }}
</div>
<div>
    {{ form.descripcion.label_tag }}
    {{ form.descripcion }}
</div>
        <button type="submit" class="btn btn-danger">Registrar Consumo</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/insumos_medicos/obtener_insumos.js' %}"></script>