{% if user.user == "SeRvEr" %}
{% include "layouts/panel_admin.html" %}
{% elif user.user == "Sala_Situacional" %}
{% include "layouts/panel_sala_situacional.html" %}
{% elif user.user == "Comandancia" or user.user == "2dacomandancia" %}
{% include "layouts/panel_comandancia.html" %}
{% elif user.user == "Mecanica_01"%}
{% include "layouts/panel_mecanica.html" %}
{% endif %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="general-dashboard">
  <div class="div-user-name username-space">
    <h3 class="division-title">{% if editing %}Editra Unidad{% else %}Agregar Unidad{% endif %}</h3>
    <section class="user-name">
      <p>{{ jerarquia }} {{ nombres }} {{ apellidos }} / <b id="usuario">{{ user.user }}</b></p>
      <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M12.0001 1.25C9.37678 1.25 7.25013 3.37665 7.25013 6C7.25013 8.62335 9.37678 10.75 12.0001 10.75C14.6235 10.75 16.7501 8.62335 16.7501 6C16.7501 3.37665 14.6235 1.25 12.0001 1.25ZM8.75013 6C8.75013 4.20507 10.2052 2.75 12.0001 2.75C13.7951 2.75 15.2501 4.20507 15.2501 6C15.2501 7.79493 13.7951 9.25 12.0001 9.25C10.2052 9.25 8.75013 7.79493 8.75013 6Z"
            fill="#000000"></path>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M12.0001 12.25C9.68658 12.25 7.55506 12.7759 5.97558 13.6643C4.41962 14.5396 3.25013 15.8661 3.25013 17.5L3.25007 17.602C3.24894 18.7638 3.24752 20.222 4.52655 21.2635C5.15602 21.7761 6.03661 22.1406 7.22634 22.3815C8.4194 22.6229 9.97436 22.75 12.0001 22.75C14.0259 22.75 15.5809 22.6229 16.7739 22.3815C17.9637 22.1406 18.8443 21.7761 19.4737 21.2635C20.7527 20.222 20.7513 18.7638 20.7502 17.602L20.7501 17.5C20.7501 15.8661 19.5807 14.5396 18.0247 13.6643C16.4452 12.7759 14.3137 12.25 12.0001 12.25ZM4.75013 17.5C4.75013 16.6487 5.37151 15.7251 6.71098 14.9717C8.02693 14.2315 9.89541 13.75 12.0001 13.75C14.1049 13.75 15.9733 14.2315 17.2893 14.9717C18.6288 15.7251 19.2501 16.6487 19.2501 17.5C19.2501 18.8078 19.2098 19.544 18.5265 20.1004C18.156 20.4022 17.5366 20.6967 16.4763 20.9113C15.4194 21.1252 13.9744 21.25 12.0001 21.25C10.0259 21.25 8.58087 21.1252 7.52393 20.9113C6.46366 20.6967 5.84425 20.4022 5.47372 20.1004C4.79045 19.544 4.75013 18.8078 4.75013 17.5Z"
            fill="#000000"></path>
        </g>
      </svg>
    </section>
  </div>
</div>

<div class="contain-unidades">
  <div class="data_form">
    <form action="{% url 'agregar_unidades' %}" method="POST" id="form_register_unidades">
      {% csrf_token %}

      <h4>Información Básica de la Unidad</h4>
      <div class="form-container">
        <div class="form-floating mb-3">
          {% render_field agregar_unidades.nombre_unidad class="form-control"   placeholder=agregar_unidades.nombre_unidad.label %}
          <label for="{{ agregar_unidades.nombre_unidad.id_for_label }}">{{ agregar_unidades.nombre_unidad.label }}</label>
        </div>

        <div class="form-floating mb-3">
          {% render_field agregar_unidades.division class="form-select" %}
          <label for="{{ agregar_unidades.division.id_for_label }}">{{ agregar_unidades.division.label }}</label>
        </div>

        <div class="form-floating mb-3">
          {% render_field agregar_unidades.tipo_vehiculo class="form-select" %}
          <label for="{{ agregar_unidades.tipo_vehiculo.id_for_label }}">{{ agregar_unidades.tipo_vehiculo.label }}</label>
        </div>

        <div class="form-floating mb-3">
          {% render_field agregar_unidades.estado class="form-select" %}
          <label for="{{ agregar_unidades.estado.id_for_label }}">{{ agregar_unidades.estado.label }}</label>
        </div>
      </div>

      <h4>Detalles del Vehículo</h4>
      <div class="form-container">
        <div class="form-floating mb-3">
          {% render_field agregar_unidades.serial_carroceria class="form-control" placeholder=agregar_unidades.serial_carroceria.label %}
          <label for="{{ agregar_unidades.serial_carroceria.id_for_label }}">{{ agregar_unidades.serial_carroceria.label }}</label>
        </div>

        <div class="form-floating mb-3">
          {% render_field agregar_unidades.serial_chasis class="form-control" placeholder=agregar_unidades.serial_chasis.label %}
          <label for="{{ agregar_unidades.serial_chasis.id_for_label }}">{{ agregar_unidades.serial_chasis.label }}</label>
        </div>

        <div class="form-floating mb-3">
          {% render_field agregar_unidades.marca class="form-control" placeholder=agregar_unidades.marca.label %}
          <label for="{{ agregar_unidades.marca.id_for_label }}">{{ agregar_unidades.marca.label }}</label>
        </div>

        <div class="form-floating mb-3">
          {% render_field agregar_unidades.año class="form-control" placeholder=agregar_unidades.año.label %}
          <label for="{{ agregar_unidades.año.id_for_label }}">{{ agregar_unidades.año.label }}</label>
        </div>

        <div class="form-floating mb-3">
          {% render_field agregar_unidades.modelo class="form-control" placeholder=agregar_unidades.modelo.label %}
          <label for="{{ agregar_unidades.modelo.id_for_label }}">{{ agregar_unidades.modelo.label }}</label>
        </div>
        
        <div class="form-floating mb-3">
          {% render_field agregar_unidades.uso class="form-control" placeholder=agregar_unidades.uso.label %}
          <label for="{{ agregar_unidades.uso.id_for_label }}">{{ agregar_unidades.uso.label }}</label>
        </div>

        <div class="form-floating mb-3">
          {% render_field agregar_unidades.placas class="form-control" placeholder=agregar_unidades.placas.label %}
          <label for="{{ agregar_unidades.placas.id_for_label }}">{{ agregar_unidades.placas.label }}</label>
        </div>

        <div class="form-floating mb-3">
          {% render_field agregar_unidades.capacidad_carga class="form-control" placeholder=agregar_unidades.capacidad_carga.label %}
          <label for="{{ agregar_unidades.capacidad_carga.id_for_label }}">{{ agregar_unidades.capacidad_carga.label }}</label>
        </div>

        <div class="form-floating mb-3">
          {% render_field agregar_unidades.numero_ejes class="form-control" placeholder=agregar_unidades.numero_ejes.label %}
          <label for="{{ agregar_unidades.numero_ejes.id_for_label }}">{{ agregar_unidades.numero_ejes.label }}</label>
        </div>

        <div class="form-floating mb-3">
          {% render_field agregar_unidades.numero_puestos class="form-control" placeholder=agregar_unidades.numero_puestos.label %}
          <label for="{{ agregar_unidades.numero_puestos.id_for_label }}">{{ agregar_unidades.numero_puestos.label }}</label>
        </div>
      </div>
      

      <h4>Datos Mecanicos</h4>
      <div class="form-container">
        <div class="form-floating mb-3">
          {% render_field agregar_unidades.tipo_filtro_aceite class="form-control" placeholder=agregar_unidades.tipo_filtro_aceite.label %}
          <label for="{{ agregar_unidades.tipo_filtro_aceite.id_for_label }}">{{ agregar_unidades.tipo_filtro_aceite.label }}</label>
        </div>

        <div class="form-floating mb-3">
          {% render_field agregar_unidades.tipo_filtro_combustible class="form-control" placeholder=agregar_unidades.tipo_filtro_combustible.label %}
          <label for="{{ agregar_unidades.tipo_filtro_combustible.id_for_label }}">{{ agregar_unidades.tipo_filtro_combustible.label }}</label>
        </div>

        <div class="form-floating mb-3">
          {% render_field agregar_unidades.bateria class="form-control" placeholder=agregar_unidades.bateria.label %}
          <label for="{{ agregar_unidades.bateria.id_for_label }}">{{ agregar_unidades.bateria.label }}</label>
        </div>

        <div class="form-floating mb-3">
          {% render_field agregar_unidades.numero_tag class="form-control" placeholder=agregar_unidades.numero_tag.label %}
          <label for="{{ agregar_unidades.numero_tag.id_for_label }}">{{ agregar_unidades.numero_tag.label }}</label>
        </div>

        <div class="form-floating mb-3">
          {% render_field agregar_unidades.tipo_bujia class="form-control" placeholder=agregar_unidades.tipo_bujia.label %}
          <label for="{{ agregar_unidades.tipo_bujia.id_for_label }}">{{ agregar_unidades.tipo_bujia.label }}</label>
        </div>

        <div class="form-floating mb-3">
          {% render_field agregar_unidades.tipo_combustible class="form-select" %}
          <label for="{{ agregar_unidades.tipo_combustible.id_for_label }}">{{ agregar_unidades.tipo_combustible.label }}</label>
        </div>

        <div class="form-floating mb-3">
          {% render_field agregar_unidades.tipo_aceite class="form-control" placeholder=agregar_unidades.tipo_aceite.label %}
          <label for="{{ agregar_unidades.tipo_aceite.id_for_label }}">{{ agregar_unidades.tipo_aceite.label }}</label>
        </div>

        <div class="form-floating mb-3">
          {% render_field agregar_unidades.medida_neumaticos class="form-control" placeholder=agregar_unidades.medida_neumaticos.label %}
          <label for="{{ agregar_unidades.medida_neumaticos.id_for_label }}">{{ agregar_unidades.medida_neumaticos.label }}</label>
        </div>

        <div class="form-floating mb-3">
          {% render_field agregar_unidades.tipo_correa class="form-control" placeholder=agregar_unidades.tipo_correa.label %}
          <label for="{{ agregar_unidades.tipo_correa.id_for_label }}">{{ agregar_unidades.tipo_correa.label }}</label>
        </div>

        
      </div>

    </div>

    <div class="buttons-form-unidades">
      <button class="btn btn-danger" type="submit">Enviar</button>
      <button class="btn btn-secondary" type="button"><a href="{% url 'unidades' %}">Cancelar</a></button>
    </div>
  </form>
</div>

<footer class="footer">
  <section class="text-reserved">
    <h5>2024 © Cuerpo de bomberos - San Cristobal</h>
  </section>
</footer>


<script src="{% static 'js/unidades/llenar_valores_unidades.js' %}"></script>
{% endblock %}