{% if user.user == "SeRvEr" %}
    {% include "layouts/panel_admin.html" %}
{% elif user.user == "Sala_Situacional" %}
    {% include "layouts/panel_sala_situacional.html" %}
{% elif user.user == "Comandancia" or user.user == "2dacomandancia" %}
    {% include "layouts/panel_comandancia.html" %}
{% elif user.user == "Mecanica_01"%}
    {% include "layouts/panel_mecanica.html" %}
{% elif user.user == "Operaciones01" %}
    {% include "layouts/panel_operaciones.html" %}
{% elif user.user == "Grumae02" %}
    {% include "layouts/panel_grumae.html" %}
{% elif user.user == "Rescate03" %}
    {% include "layouts/panel_rescate.html" %}
{% elif user.user == "Prehospitalaria04" %}
    {% include "layouts/panel_prehospitalaria.html" %}
{% elif user.user == "Prevencion05" %}
    {% include "layouts/panel_prevencion.html" %}
{% endif %}

{% load static %}
{% load customfilters %}


{% block content %}
<div class="general-dashboard">
  <div class="div-user-name username-space">
    <h3 class="division-title">Asignaciones: {{ unidad.nombre_unidad }}</h3>
    <section class="user-name">
      <p>{{ jerarquia }} {{ nombres }} {{ apellidos }} / <b id="usuario">{{ user.user }}</b></p>
      <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M12.0001 1.25C9.37678 1.25 7.25013 3.37665 7.25013 6C7.25013 8.62335 9.37678 10.75 12.0001 10.75C14.6235 10.75 16.7501 8.62335 16.7501 6C16.7501 3.37665 14.6235 1.25 12.0001 1.25ZM8.75013 6C8.75013 4.20507 10.2052 2.75 12.0001 2.75C13.7951 2.75 15.2501 4.20507 15.2501 6C15.2501 7.79493 13.7951 9.25 12.0001 9.25C10.2052 9.25 8.75013 7.79493 8.75013 6Z"
            fill="#000000"></path>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M12.0001 12.25C9.68658 12.25 7.55506 12.7759 5.97558 13.6643C4.41962 14.5396 3.25013 15.8661 3.25013 17.5L3.25007 17.602C3.24894 18.7638 3.24752 20.222 4.52655 21.2635C5.15602 21.7761 6.03661 22.1406 7.22634 22.3815C8.4194 22.6229 9.97436 22.75 12.0001 22.75C14.0259 22.75 15.5809 22.6229 16.7739 22.3815C17.9637 22.1406 18.8443 21.7761 19.4737 21.2635C20.7527 20.222 20.7513 18.7638 20.7502 17.602L20.7501 17.5C20.7501 15.8661 19.5807 14.5396 18.0247 13.6643C16.4452 12.7759 14.3137 12.25 12.0001 12.25ZM4.75013 17.5C4.75013 16.6487 5.37151 15.7251 6.71098 14.9717C8.02693 14.2315 9.89541 13.75 12.0001 13.75C14.1049 13.75 15.9733 14.2315 17.2893 14.9717C18.6288 15.7251 19.2501 16.6487 19.2501 17.5C19.2501 18.8078 19.2098 19.544 18.5265 20.1004C18.156 20.4022 17.5366 20.6967 16.4763 20.9113C15.4194 21.1252 13.9744 21.25 12.0001 21.25C10.0259 21.25 8.58087 21.1252 7.52393 20.9113C6.46366 20.6967 5.84425 20.4022 5.47372 20.1004C4.79045 19.544 4.75013 18.8078 4.75013 17.5Z"
            fill="#000000"></path>
        </g>
      </svg>
    </section>
  </div>
</div>

<div class="card shadow mb-4 card-detalles-asignaciones">
    <div class="card-header bg-danger text-white">
        <h5 class="mb-1 mt-1" style="font-size: 1.5rem;">Herramientas Asignadas</h5>
    </div>
    <div class="card-body">
        {% if asignaciones %}
        <div class="table-responsive-sm">
            <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                        <th class="fixed-width">Herramienta</th>
                        <th class="fixed-width">Cantidad</th>
                        <th class="fixed-width">Código</th>
                        <th class="fixed-width">Asignada el</th>
                        <th class="fixed-width">Estado</th>
                        <th class="text-end fixed-width">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for asignacion in asignaciones %}
                    <tr>
                        <td class="fixed-width" style="overflow: initial;">
                            <strong>{{ asignacion.herramienta.nombre }}</strong><br>
                            <small class="text-muted">{{ asignacion.herramienta.categoria }}</small>
                        </td>
                        <td class="fixed-width" style="overflow: initial;">{{ asignacion.cantidad }}</td>
                        <td class="fixed-width" style="overflow: initial;">{{ asignacion.herramienta.numero_serie|default:"-" }}</td>
                        <td class="fixed-width" style="overflow: initial;">{{ asignacion.fecha_asignacion|date:"d/m/Y" }}</td>
                        <td class="fixed-width" style="overflow: initial;">
                            <span class="badge bg-{% if asignacion.herramienta.estado == 'B' %}success{% elif asignacion.herramienta.estado == 'R' %}warning{% else %}danger{% endif %}">
                                {{ asignacion.herramienta.get_estado_display }}
                            </span>
                        </td>
                        <td class="text-end fixed-width">
                            {% if not asignacion.fecha_devolucion %}
                            <button class="btn btn-sm btn-outline-danger" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#accionesModal{{ asignacion.id }}">
                                <i class="fas fa-cog"></i> Acciones
                            </button>
                            {% else %}
                            <small class="text-muted">
                                Devuelta el {{ asignacion.fecha_devolucion|date:"d/m/Y" }}
                            </small>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center py-4">
                            <i class="fas fa-tools fa-2x mb-2 text-muted"></i><br>
                            No hay herramientas asignadas actualmente
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-danger">No hay herramientas asignadas</div>
        {% endif %}
    </div>
</div>

<!-- Modales para cada asignación -->
{% for asignacion in asignaciones %}
{% if not asignacion.fecha_devolucion %}
<div class="modal fade" id="accionesModal{{ asignacion.id }}" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Acciones para {{ asignacion.herramienta.nombre }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="d-grid gap-2">
                    <a href="{% url 'devolucion-parcial' asignacion.id %}" 
                       class="btn btn-outline-primary">
                        <i class="fas fa-undo-alt me-2"></i> Devolución Parcial
                    </a>
                    
                    <a href="{% url 'reasignar-herramienta' asignacion.id %}" 
                       class="btn btn-outline-warning">
                        <i class="fas fa-exchange-alt me-2"></i> Reasignar
                    </a>

                    <button type="button" class="btn btn-outline-danger" 
                            data-bs-toggle="modal" 
                            data-bs-target="#devolucionCompletaModal{{ asignacion.id }}">
                            Devolución Completa
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

{% for asignacion in asignaciones %}
{% if not asignacion.fecha_devolucion %}
<div class="modal fade" id="devolucionCompletaModal{{ asignacion.id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">
                    Devolución Completa
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'devolver-completa' asignacion.id %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="alert alert-danger d-flex flex-column align-items-md-start">
                        <strong>Herramienta:</strong> {{ asignacion.herramienta.nombre }}<br>
                        <strong>Unidad:</strong> {{ asignacion.unidad.nombre_unidad }}<br>
                        <strong>Cantidad a devolver:</strong> 
                        <span class="badge bg-primary">{{ asignacion.cantidad }} unidades</span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-bold">{{ formDevolucion.responsable.label }}</label>
                        {{ formDevolucion.responsable }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-bold">{{ formDevolucion.observaciones.label }}</label>
                        {{ formDevolucion.observaciones }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="fas fa-times me-2"></i>Cancelar
                    </button>
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-check me-2"></i>Confirmar Devolución
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}


<div class="card shadow mb-4 card-detalles-asignaciones">
    <div class="card-header bg-danger text-white">
        <h5 class="mb-1 mt-1" style="font-size: 1.5rem;"><i class="bi bi-box-seam me-2"></i> Asignar Nuevas Herramientas</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            
            <div class="herramientas-container">
                {% for herramienta in form.herramientas_disponibles %}
                <div class="d-flex align-items-center justify-content-center mb-2 herramienta-line"> 
                    <div class="form-check form-switch flex-grow-1 d-flex align-items-center me-3">
                        <input type="checkbox"
                            name="herramienta_{{ herramienta.id }}_sel" 
                            id="id_herramienta_{{ herramienta.id }}_sel" 
                            class="form-check-input herramienta-checkbox"
                            data-herramienta-id="{{ herramienta.id }}" 
                            {% if herramienta.cantidad_disponible <= 0 %}disabled{% endif %}>
                        
                        <span class="d-flex flex-column align-items-start align-items-md-start ms-3 label-content">
                            <strong>{{ herramienta.nombre }}</strong> 
                            {% if herramienta.cantidad_disponible <= 0 %}
                                <span class="badge bg-secondary mt-1">Agotada</span>
                            {% else %}
                                <span class="badge bg-danger text-white mt-1">Disponibles: {{ herramienta.cantidad_disponible }}</span>
                            {% endif %}
                        </span>
                        <label class="visually-hidden" for="id_herramienta_{{ herramienta.id }}_sel">
                            {{ herramienta.nombre }} (Cantidad)
                        </label>
                    </div>
                    
                    <div class="flex-shrink-0">
                        <input type="number" 
                            name="herramienta_{{ herramienta.id }}_cant" 
                            id="id_herramienta_{{ herramienta.id }}_cant"
                            class="form-control form-control-sm cantidad-input text-center" 
                            data-herramienta-id="{{ herramienta.id }}"
                            disabled 
                            min="1"
                            max="{{ herramienta.cantidad_disponible }}"
                            value="1"
                            style="width: 75px;">
                    </div>
                </div>
                {% empty %}
                    <div class="alert alert-info text-center mb-0">No hay herramientas disponibles para asignar en este momento.</div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-danger mt-3"><i class="bi bi-box-arrow-in-up me-2"></i> Asignar Selección</button>
        </form>        
    </div>
</div>

<div class="d-flex justify-content-center align-items-center mb-4">
    <a href="{% url 'asignacion-unidades' %}" class="btn btn-outline-danger">
        <i class="bi bi-arrow-left"></i> Volver
    </a>
</div>


<!-- Footer -->
<footer class="footer">
  <section class="text-reserved">
    <h5>2025 © Cuerpo de bomberos - San Cristobal</h5>
  </section>
</footer>

<script src="{% static 'js/mecanica/asignacionesJs.js' %}"></script>
<script>
    // Añade este script al final de tu template
document.addEventListener('DOMContentLoaded', function() {
    // Corregir posición de dropdowns en tablas con scroll
    const dropdowns = document.querySelectorAll('.dropdown-menu');
    
    dropdowns.forEach(function(dropdown) {
        dropdown.addEventListener('show.bs.dropdown', function() {
            const tableContainer = this.closest('.table-responsive-sm');
            if (tableContainer) {
                this.style.position = 'fixed';
                const rect = this.getBoundingClientRect();
                this.style.top = rect.top + 'px';
                this.style.left = rect.left + 'px';
            }
        });
        
        dropdown.addEventListener('hide.bs.dropdown', function() {
            this.style.position = '';
            this.style.top = '';
            this.style.left = '';
        });
    });
});
</script>
{% endblock %}

