{% extends "blog.html" %} {% block content %}
<div class="background-general to-capacitation">
  <section class="text-inter">
    <h2>Capacitaciones, Adiestramientos y Educación</h2>
  </section>
</div>
<h2 class="title-information-section">Público en General</h2>

<div class="row-information aling-center">
  <section class="content-text">
    <h2>Requisitos:</h2>
    <br />
    <ul>
      <li>
        Realizar una solicitud mediante un oficio dirigido a la Comandancia,
        solicitando la debida capacitación.
      </li>
      <br />
      <li>
        Posteriormente, el departamento de capacitación coordina con la empresa
        o institución que hizo la solicitud para definir los requerimientos
        necesarios (día, hora, número de personas a capacitar y tipo de
        capacitación).
      </li>
      <br />
      <li>
        Todas las capacitaciones son gratuitas, sin embargo, se solicita una
        colaboración para cubrir la elaboración de los certificados.
      </li>
      <br />
      <li>
        Al finalizar la instrucción, los participantes reciben un certificado,
        generado por la Comandancia.
      </li>
    </ul>
  </section>
  <section class="content-text">
    <h2>Tipos de Capacitaciones:</h2>
    <br />
    <ul>
      <li>
        Cursos, Talleres, Charlas o Conversatorios: Dirigidos a instituciones
        públicas, privadas o industriales. Mayormente se realizan en escuelas,
        capacitando a docentes y directores, quienes son los multiplicadores de
        la enseñanza.
      </li>
      <br />
      <li>
        Simulacros Ante Eventos Adversos: (sismos, terremotos) coordinando áreas
        seguras, puntos de reunión y sitios de encuentro.
      </li>
      <br />
      <li>
        Planes de Emergencias: (Plan de emergencia familiar, institucional,
        etc.)
      </li>
    </ul>
  </section>
</div>
<div class="rows-images-information">
  <section class="image-information image-capacitation-1"></section>
  <section class="image-information image-capacitation-2"></section>
</div>
<h2 class="title-information-section">Lider de Capacitaciones</h2>
<div class="row-information">
  <section class="content-image">
    <img
      src="https://i.postimg.cc/BQ81fLmC/IMG-20241122-120409.jpg"
      alt="image"
    />
  </section>
  <section class="content-text">
    <p>
      Jaime Antonio Contreras, Teniente Coronel de bomberos Profesor Jefe del
      Área de Capacitación y Tecnología Bomberil.
    </p>
    <p>
      Es el encargado de liderar y supervisar las capacitaciones ofrecidas por
      el Cuerpo de Bomberos de San Cristóbal. Con un rango de Teniente Coronel,
      su vasta experiencia y conocimiento en el campo de la tecnología y
      capacitación bomberil lo posicionan como un referente en la institución.
    </p>
    <p>
      Como profesor jefe, se encarga de diseñar e implementar programas de
      capacitación que abarquen desde cursos teóricos hasta simulacros
      prácticos, asegurando que los participantes adquieran habilidades críticas
      para la gestión de emergencias.
    </p>
    <p>
      <b> Horarios: </b>
      Nos acoplamos al horario de la actividad económica de la empresa
      solicitante.
    </p>
  </section>
</div>
<div class="row-information">
  <section class="content-text">
    <h2>Temas Principales:</h2>
    <br />
    <p>
      Conformación de Brigadas para la Atención de Emergencias: Escolares o
      Comunitarios o Empresariales o Industriales
    </p>
  </section>
  <section class="content-image">
    <img
      src="https://i.postimg.cc/j26fmGxJ/IMG-20241122-120710.jpg"
      alt="image"
    />
  </section>
</div>
<div class="row-information">
  <section class="content-image order-by">
    <img
      src="https://i.postimg.cc/2S9ZsdDT/IMG-20241122-120612.jpg"
      alt="image"
      class="edit-2"
    />
  </section>
  <section class="content-text">
    <h2>Brigadas Principales:</h2>
    <br />
    <ul>
      <li>Brigada de Prevención o Contra Incendios</li>
      <li>Brigada de Primeros Auxilios</li>
      <li>Brigada de Desalojo</li>
      <li>Brigada de Comunicación e Información</li>
    </ul>
  </section>
</div>
<div class="row-information">
  <section class="content-text">
    <h2>Brigadas Adicionales (según la actividad económica de la empresa)</h2>
    <br />
    <ul>
      <li>Brigada de Materiales Químicos</li>
      <li>Brigada de Vialidad</li>
      <li>Brigada de Ambiente</li>
    </ul>
  </section>
  <section class="content-image">
    <img
      src="https://i.postimg.cc/BnTzN6fq/IMG-20241122-120936.jpg"
      alt="image"
    />
  </section>
</div>
{% endblock %}
