{% extends "blog.html" %} {% block content %}
<div class="background-general to-capacitation">
  <section class="text-inter">
    <h2>Capacitaciones, Adiestramientos y Educación</h2>
  </section>
</div>
<h2 class="title-information-section">Público en General</h2>

<div class="row-information aling-center">
  <section class="content-text">
    <h2>Requisitos:</h2>
    <br />
    <ul>
      <li>
        Realizar una solicitud mediante un oficio dirigido a la Comandancia,
        solicitando la debida capacitación.
      </li>
      <br />
      <li>
        Posteriormente, el departamento de capacitación coordina con la empresa
        o institución que hizo la solicitud para definir los requerimientos
        necesarios (día, hora, número de personas a capacitar y tipo de
        capacitación).
      </li>
      <br />
      <li>
        Todas las capacitaciones son gratuitas, sin embargo, se solicita una
        colaboración para cubrir la elaboración de los certificados.
      </li>
      <br />
      <li>
        Al finalizar la instrucción, los participantes reciben un certificado,
        generado por la Comandancia.
      </li>
    </ul>
  </section>
  <section class="content-text">
    <h2>Tipos de Capacitaciones:</h2>
    <br />
    <ul>
      <li>
        Cursos, Talleres, Charlas o Conversatorios: Dirigidos a instituciones
        públicas, privadas o industriales. Mayormente se realizan en escuelas,
        capacitando a docentes y directores, quienes son los multiplicadores de
        la enseñanza.
      </li>
      <br />
      <li>
        Simulacros Ante Eventos Adversos: (sismos, terremotos) coordinando áreas
        seguras, puntos de reunión y sitios de encuentro.
      </li>
      <br />
      <li>
        Planes de Emergencias: (Plan de emergencia familiar, institucional,
        etc.)
      </li>
    </ul>
  </section>
</div>
<div class="rows-images-information">
  <section class="image-information image-capacitation-1"></section>
  <section class="image-information image-capacitation-2"></section>
  <section class="image-information image-capacitation-3"></section>
</div>
<div class="row-information">
  <section class="content-image">
    <img src="" alt="image" />
  </section>
  <section class="content-text">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta totam
      veniam blanditiis perferendis ipsam minima maiores doloremque eos itaque
      ut. Fugit dicta quaerat culpa, libero dolor tempora cum natus voluptatem!
    </p>
  </section>
</div>
<div class="row-information">
  <section class="content-text">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta totam
      veniam blanditiis perferendis ipsam minima maiores doloremque eos itaque
      ut. Fugit dicta quaerat culpa, libero dolor tempora cum natus voluptatem!
    </p>
  </section>
  <section class="content-image">
    <img src="" alt="image" />
  </section>
</div>
<div class="row-information">
  <section class="content-image">
    <img src="" alt="image" />
  </section>
  <section class="content-text">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta totam
      veniam blanditiis perferendis ipsam minima maiores doloremque eos itaque
      ut. Fugit dicta quaerat culpa, libero dolor tempora cum natus voluptatem!
    </p>
  </section>
</div>

<div class="information-center">
  <section class="information-aboutme">
    <h3>title</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit maiores quia
      neque eaque, officiis, nobis quaerat ipsum ut cupiditate laudantium
      exercitationem ea vel esse dignissimos adipisci, illum fugit qui pariatur!
    </p>
  </section>
  <section class="information-aboutme">
    <h3>title</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro alias,
      tempore fugiat iste quas magnam asperiores explicabo quibusdam ex dolore
      soluta, unde impedit culpa corporis, laborum sequi repellendus incidunt
      illo!
    </p>
  </section>
</div>

{% endblock %}
