{% extends "blog.html" %} {% block content %}
<div class="background-general to-services-medicos">
  <section class="text-inter">
    <h2>Servicios Medicos</h2>
  </section>
</div>
<h2 class="title-information-section">Público en General</h2>

<div class="row-information aling-center">
  <section class="content-text">
    <h2>Atención Directa</h2>
    <br />
    <p>
      El servicio médico está diseñado para la atención de bomberos y sus
      familiares, y se extiende al público en general para cubrir el déficit
      sanitario existente.
    </p>
    <br />
    <p>
      Ofrecemos atención accesible e inmediata para el control de emergencias y
      situaciones médicas tanto en adultos como en pediátricos.
    </p>
  </section>
  <section class="content-text">
    <h2>Servicios Ofrecidos</h2>
    <br />
    <ul>
      <li>
        <b> Atención de Emergencias: </b>
        Curas, suturas, inmovilizaciones de fracturas o traumatismos.
      </li>
      <br />
      <li>
        <b> Control de Pacientes Hipertensos o Diabéticos: </b>
        Seguimiento y manejo de condiciones crónicas.
      </li>
      <br />
      <li>
        <b> Curas de Heridas: </b>
        Tratamiento y cuidado de heridas.
      </li>
      <br />
      <li>
        <b> Expedición de Constancias en Niños Sanos: </b>
        Certificados de salud para niños.
      </li>
      <br />
      <li>
        <b> Apoyos Médicos: </b>
        Asistencia en diversas necesidades médicas.
      </li>
    </ul>
  </section>
</div>
<div class="row-information">
  <section class="content-image">
    <img
      src="https://i.postimg.cc/851QqMkZ/IMG-20241119-084809.jpg"
      class="edit"
      alt="image"
    />
  </section>
  <section class="content-text">
    <h2>Equipo Medico</h2>
    <br />
    <p>
      El Teniente Coronel (B) (Médico) Julio Campos es un destacado profesional
      de la salud y un líder en el ámbito de los servicios médicos dentro del
      cuerpo de bomberos de San Cristóbal.
    </p>
    <p>
      Con una carrera dedicada a la medicina y al servicio público, ha
      demostrado un compromiso inquebrantable con la comunidad y con la
      seguridad de sus compañeros bomberos.
    </p>
    <!-- <p>SI ESTAS ENFERMO, Y ERES BOMBERO, TE QUEDAS EN EL POZO</p> -->
    <p>
      <b> Horarios: </b>
      Lunes a sábado, de 8 AM a 4 PM.
    </p>
  </section>
</div>
<div class="row-information">
  <section class="content-text">
    <h2>Servicio Médico General</h2>
    <br />
    <p>
      Nuestro equipo médico está conformado por cinco médicos que laboran las 24
      horas del día.
    </p>
    <ul>
      <li>Teniente Coronel (B) (Médico) Jesús Casanova Médico de planta</li>
      <br />
      <li>(Médico) Gerardo Sánchez</li>
      <br />
      <li>(Médico) Juan Carlos Morera</li>
      <br />
      <li>(Médico) Jonathan Martínez</li>
      <br />
      <li>(Médico) Julio Rodríguez</li>
    </ul>
  </section>
  <section class="content-image">
    <img
      src="https://i.postimg.cc/sXt83W3F/IMG-20231030-WA0067.jpg"
      class="edit"
      alt="image"
    />
  </section>
</div>
<div class="row-information">
  <section class="content-image">
    <img
      src="https://i.postimg.cc/Zn59KWHc/IMG-20241112-132806.jpg"
      alt="image"
    />
  </section>
  <section class="content-text">
    <h2>Atención al Público en General</h2>
    <br />
    <li>
      <b> Evaluación, Diagnóstico y Tratamiento: </b>
      Brindamos atención médica de acuerdo a las patologías de cada paciente.
    </li>
    <br />
    <li>
      <b> Hospitalización del Personal Bomberil: </b>
      Manejo hospitalario en el área de enfermería para el personal.
    </li>
    <br />
    <li>
      <b> Atención Médica Directa: </b>
      Para el público en general, ofrecemos atención médica directa y derivación
      a centros asistenciales (Hospital Central) en caso de ser necesario.
    </li>
    <br />
    <li>
      <b> Cobertura en Operativos de Contingencia: </b>
      Presencia médica en eventos especiales, conciertos, juegos, para respaldo
      médico preventivo y de apoyo en caso de requerirse.
    </li>
    <br />
    <li>
      <b> Siniestros de Gran Magnitud: </b>
      Atención médica directa las 24 horas del día durante todo el año.
    </li>
  </section>
</div>
<br>
{% endblock %}
