{% extends "blog.html" %} {% block content %}
<div class="background-general to-prevencion">
  <section class="text-inter">
    <h2>Seguridad y Prevencion</h2>
  </section>
</div>
<h2 class="title-information-section">Información del Departamento</h2>
<div class="row-information aling-center">
  <section class="content-text">
    <h2>Departamento</h2>
    <br />
    <ul>
      <li>
        <b> Recepción de Usuarios: </b>
        Los usuarios deben dirigirse a la receptoría para obtener información
        del departamento.
      </li>
      <br />
      <li>
        <b> Planificación de Ingreso de Carpetas:</b>
        Todos los viernes.
      </li>
      <br />
      <li>
        <b> Inspecciones de Seguridad: </b>

        Desde locales pequeños hasta grandes industrias, asegurando el
        cumplimiento de las normas de seguridad bomberil (extintores,
        señaléticas de salidas de emergencia, riesgo eléctrico, estaciones
        manuales).
      </li>
    </ul>
  </section>
  <section class="content-text">
    <h2>Servicios</h2>
    <ul>
      <br />
      <li>
        <b> Código Nacional Eléctrico: </b>
        Recomendaciones sobre conductores de energía expuestos.
      </li>
      <br />
      <li>
        <b> Grandes Industrias: </b>

        Cumplimiento específico de normas, incluyendo centrales de incendio,
        salidas de emergencia, norma 810 y sistemas de extinción de incendios.
      </li>
    </ul>
  </section>
</div>
<h2 class="title-information-section">Jefe del Departamento</h2>
<div class="row-information">
  <section class="content-image">
    <img
      src="https://i.postimg.cc/tR1T4GNp/IMG-20241126-101705.jpg"
      alt="image"
    />
  </section>
  <section class="content-text">
    <h2>Jefe de Area</h2>
    <br />
    <p>
      El Teniente Coronel (B) Ing. Anderson Teodoro Vivas Rico es un destacado
      ingeniero y líder en el ámbito de la seguridad y prevención de siniestros.
    </p>
    <p>
      Con una carrera dedicada a la ingeniería y al servicio público, ha
      demostrado un compromiso inquebrantable con la seguridad de la comunidad y
      la prevención de desastres.
    </p>
    <p><b> Horarios Flexibles: </b> 8 AM a 6 PM, de lunes a viernes.</p>
  </section>
</div>

<div class="row-information">
  <section class="content-text">
    <h2>Requisitos para Inspecciones</h2>
    <br />

    <ul>
      <li>
        <b> Inspecciones de Árboles y Habitabilidad: </b>

        Cumplir con los primeros tres requisitos y presentar una copia del
        documento de propiedad. En caso de ser una vivienda, la persona debe
        realizar un oficio con una exposición de motivos referente al riesgo y
        entregarlo en recepción para el jefe de los servicios.
      </li>
      <br />
      <li>
        <b> Observaciones: </b>
        Al entregar los requisitos, se proporcionan observaciones. Se requiere
        como mínimo extintores de 10 lb, y dependiendo del riesgo, se ajusta la
        capacidad del extintor.
      </li>
      <br />
      <li>
        <b> Señaléticas: </b>
        Asegurarse de que las señaléticas estén correctamente instaladas.
      </li>
    </ul>
  </section>
  <section class="content-image">
    <img
      src="https://i.postimg.cc/yd90zh2q/IMG-20241126-103442.jpg"
      alt="image"
    />
  </section>
</div>
<div class="row-information">
  <section class="content-image order-by">
    <img src="https://i.postimg.cc/NFRjC53x/IMG-20241128-WA0053.jpg" alt="image" class="edit">
  </section>
  <section class="content-text">
    <h2>Tipos de Inspecciones</h2>
    <br />
    <ul>
      <li>Inspecciones de Árboles</li>
      <br />
      <li>Inspecciones de Habitabilidad (Viviendas)</li>
      <br />
      <li>Inspecciones de Riesgo</li>
    </ul>
  </section>
</div>
<div class="row-information">
  <section class="content-text">
    <br />
    <h2>Inspectores a Cargo</h2>
    <br />
    <ul>
      <li>
        <b> Jefe de Departamento: </b>
        Teniente Coronel (B) Anderson Teodoro.
      </li>
      <br />
      <li>
        <b> Inspector </b>
        Sargento Ayudante Humberto Camacho
      </li>
      <br />
      <li>
        <b> Inspector </b>
        Cabo Segundo Isai Castro
      </li>
      
    </ul>
  </section>
  <section class="content-image">
    <img
      src="https://i.postimg.cc/kXPrSgcj/IMG-20241128-WA0032.jpg"
      alt="image"
    />
  </section>
</div>
<div class="row-information">
  <section class="content-image order-by">
    <img
      src="https://i.postimg.cc/HnxBPtK2/Edit-1.jpg"
      alt="image"
    />
  </section>
  <section class="content-text">
    <h2>Inspecciones de Riesgos Naturales</h2>
    <br />
    <ul>
      <li>
        <b> Monitoreos: </b>
        Ríos, quebradas, alcantarillado y embaulamiento.
      </li>
    </ul>
  </section>
</div>
<div class="row-information">
  <section class="content-text">
    <h2>Investigación de Siniestros</h2>
    <br />
    <ul>
      <li>
        <b> Después de la Operación: </b>

        Se realiza la investigación del siniestro.
      </li>
    </ul>
  </section>
  <section class="content-image">
    <img
      src="https://i.postimg.cc/zvHgzz9L/IMG-20241128-WA0061.jpg"
      alt="img"
    />
  </section>
</div>
<div class="row-information">
  <section class="content-image order-by">
    <img
      src="https://i.postimg.cc/90NHpVMB/IMG-20241128-WA0059.jpg"
      class="edit"
      alt="img"
    />
  </section>
  <section class="content-text">
    <h2>Tipos de Investigaciones de Siniestro</h2>
    <br />
    <ul>
      <li>Investigaciones de Incendio de Estructura.</li>
      <br />
      <li>Investigaciones de Incendio de Vehículos.</li>
    </ul>
  </section>
</div>
<div class="row-information aling-center">
  <section class="content-text">
    <h2>Retenciones</h2>
    <br />
    <p>
      <b> Recomendaciones: </b>
      Si percibes un olor extraño o gas, llama al cuerpo de bomberos o al 911
      para realizar la inspección del riesgo del cilindro si tiene algún defecto
      o ruptura.
    </p>
    <p>
      <b> Decomiso del Cilindro: </b>
      Se decomisa el cilindro para minimizar el riesgo al usuario o vivienda. Al
      momento de la retención, se entrega una constancia al propietario del
      cilindro para ser llevado a la institución.
    </p>
    <p>
      <b> Procedimiento de Retiro: </b>
      La constancia emitida debe ser llevada a la empresa PDVSA GAS ubicada en
      la Avenida Libertador para el procedimiento de retiro del cilindro en la
      sede del cuerpo de bomberos. El tiempo de retención depende de la empresa
      PDVSA GAS.
    </p>
  </section>
  <section class="content-text">
    <h2>Normas Aplicables</h2>
    <br />
    <p>
      El departamento se basa en asesorar y llevar el conocimiento de las
      prevenciones que se deben tener ante un siniestro, cumpliendo normas como:
    </p>
    <p>
      Norma 187, Norma 200, Norma 810, Norma 1330, Norma 1331, Norma 928, Norma
      1472, Norma 1040.
    </p>
    <p>
      Las normas se aplican dependiendo de la solicitud de inspección o
      prevención.
    </p>
  </section>
</div>
<!-- <section class="content-image">
    <img
      src="https://i.postimg.cc/zvHgzz9L/IMG-20241128-WA0061.jpg"
      alt="image"
      class="edit"
    />
  </section> -->

{% endblock %}
