{% block content %}
    <div class="container-fluid py-4 w-100">
        <div class="card shadow-sm mb-4">
            <div class="card-header bg-danger text-white">
                <h3 class="card-title h3 mb-0 text-center">Inventario / {{ inventario_name }}</h3>
            </div>
            <div class="card-body">
                {% if lotes %}
                    <div class="table-responsive">
                        <table class="table table-hover rounded">
                            <thead class="">
                                <tr>
                                    <th>Insumo</th>
                                    <th>Presentación</th>
                                    <th>Cantidad</th>
                                    <th>Fecha de Vencimiento</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for lote in lotes %}
                                    <tr>
                                        <td>{{ lote.insumo.nombre }}</td>
                                        <td>{{ lote.insumo.presentacion }}</td>
                                        <td>{{ lote.cantidad }}</td>
                                        <td>{{ lote.fecha_vencimiento|date:"d/m/Y" }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p class="alert alert-danger">Este inventario no tiene insumos registrados.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}