{% extends "blog.html" %} {% block content %}

{% load static %}
<head>
  <meta name="title" content="Informacion">
</head>
<div class="background-general to-information">
  <section class="text-inter">
    <h2>Nosotros</h2>
  </section>
</div>
<div class="row-information">
  <section class="content-text">
    <h2>Informacion General</h2>
    <p>
      Comenzaba la década de los 50 y los vecinos se inquietaban por la falta de
      un Cuerpo de Bomberos. San Cristóbal se estaba expandiendo y requería de
      un órgano efectivo que pudiera actuar en caso de un incendio o calamidad.
      Un grupo de empresarios solicitó a la gobernación, la formación de ese
      equipo.
    </p>
    <p>
      Las autoridades regionales dispusieron de una parte del viejo galpón del
      garaje del estado, en la ermita, donde había funcionado el matadero
      municipal por más de cien años. Acondicionaron el local y sin unidades,
      sin muchos implementos de trabajo, solamente con palas machetes
      herramientas menores y un jeep, nueve hombres entre los que se
      encontraban, el Sargento/Ayudante
      (B) Baltazar Augusto Echeverría, Justo Pastor Daza Porras, Rafael Finol,
      Pablo Marín, Rodrigo Nava y Asdrúbal Salomón; comenzaron a hacer la
      primera guardia permanente del Cuerpo de Bomberos de San Cristóbal, el 28
      de Noviembre de 1952.
    </p>
    <p>

      Había alegría y expectación, pero esta fue mayor
      tiempo después cuando la población vio la primera unidad de combate de
      incendios, modelo 1948 recorriendo la ciudad y su exhibición en las Plazas
      Páez de la Ermita y Garbiras.
    </p>
    <p>
      Dos años más tarde el 6 de Diciembre de 1954 desocuparon ese galpón al
      mudarse al primer Cuartel de Bomberos de San Cristóbal, en la Ermita,
      donde hoy funciona la Estación N° 01 “Baltazar Augusto Echeverría”, el
      nombre del Sargento Ayudante, pionero de ese cuerpo, Monseñor Alejandro
      Fernández Feo, Obispo de San Cristóbal, bendijo el local.
    </p>
  </section>
  <section class="content-image">
    <img src="https://i.postimg.cc/C1zPyLyd/Doc-Scanner-13-nov-2024-2-27-p-m.jpg" alt="Revista-bomberil" />
  </section>
</div>
<div class="row-information">
  <section class="content-image order-by">
    <img src="https://i.postimg.cc/50CBqHd5/Doc-Scanner-13-2jj024-2-44-p.jpg'" alt="General-Daza" />
  </section>
  <section class="content-text">
    <p>
      Con los años y el incremento de la población los bomberos fueron
      creciendo. No solamente adquirieron unidades y recibieron dotación de
      implementos y uniformes, también ampliaron su infraestructura.
    </p>
    <p>
      En 1973 fue fundado el Cuartel Central “Coronel (B) Justo Pastor Daza
      Porras”, en la av. 19 de abril, frente al obelisco de la colonia italiana,
      a la entrada del barrio libertador.
    </p>
    <p>
      En 1980 fue rescatada por la municipalidad el local donde funciona la
      Estación N° 02 “Distinguido José Luis Buitrago.” diagonal al terminal de
      pasajeros. En 1986 fue inaugurada la Estación N° 03 “Mayor (B) Bernardo
      Daza Porras”.
    </p>
    <p>
      Con terrenos donados por la UNET. los bomberos cuentan con tres
      estaciones y un cuartel central, capacitados y preparados para asistir a las comunidades
      de San Cristóbal y del Estado Táchira
    </p>
    <p>
      Este cuerpo de bomberos con raíces cincuentenarias, sembradas en la
      carrera 2 entre calles 7 y 9, entre el parque San miguel y el viejo
      manicomio a la entrada de Madre Juana, ha vivido entre cambios tan
      vertiginosos como las mismas tragedias con las que ha contribuido para
      bien de la colectividad tachirense en general.
    </p>
  </section>
</div>
<div class="row-information">
  <h2>Ex-Comandantes de la Institucion</h2>
  <div class="gallery-row">
    <section class="card-gallery">
      <img src="https://i.postimg.cc/pL1X1jfZ/IMG-SFJAW2451k-K.png" alt="...">
      <p>Sgto/Ayudante (B) Agusto Baltazar Echeverria</p>
    </section>
    <section class="card-gallery">
      <img src="https://i.postimg.cc/t4Jh8hxv/IMG-20241112-135222954.png" alt="...">
      <p>Cnel (B) Justo Pastor Daza Porras</p>
    </section>
    <section class="card-gallery">
      <img src="https://i.postimg.cc/j50dQbTQ/IMG-20241112-135947.png" alt="...">
      <p>Teniente (B) Alfredo Jazko</p>
      <br>
    </section>
    <section class="card-gallery">
      <img src="https://i.postimg.cc/x8708D6z/IMG-20221341112-135947.png" alt="...">
      <p>Cnel (B) Rodrigo Daza Porras</p>
    </section>
    <section class="card-gallery">
      <img src="https://i.postimg.cc/x8k2Wp9T/IMG-20241177712-135947.png" alt="...">
      <p>Cnel (B) Felix Armando Sanchez</p>
    </section>
    <section class="card-gallery">
      <img src="https://i.postimg.cc/t4rYQwjF/IMG-202411123412-135947.png" alt="...">
      <p>Cnel (B) Luis Ramirez Torres</p>
    </section>
    <section class="card-gallery">
      <img src="https://i.postimg.cc/5yHxwtJf/jesus-ortega.png" alt="...">
      <p>Cnel (B) Jesus Ortega</p>
    </section>
    <section class="card-gallery">
      <img src="https://i.postimg.cc/J7b04G8r/IMG-20242222111112-135947.png" alt="...">
      <p>Cnel (B) Jorge Becerra
      </p>
      <br>
    </section>
    <section class="card-gallery">
      <img src="https://i.postimg.cc/nLkp7QdZ/IMG-20241123112-135947.png" alt="...">
      <p>General (B) Alfonso Briceño</p>
    </section>

    <section class="card-gallery">
      <img src="https://i.postimg.cc/zXXtXHhK/IMG-20241222112-135947.png" alt="...">
      <p>Cnel (B) Giovanny Moreno</p>
    </section>
    <section class="card-gallery">
      <img src="https://i.postimg.cc/BvQH22qB/IMG-20242221112-135947.png" alt="...">
      <p>Tcnel (B) Freddy Sanchez</p>
    </section>
    <section class="card-gallery">
      <img src="https://i.postimg.cc/hG6vhmhj/IMG-20241123123112-135947.png" alt="...">
      <p>Tcnel (B) Alfredo Pallares</p>
    </section>
    <section class="card-gallery">
      <img src="https://i.postimg.cc/QxJFSVY4/IMG-202222241112-135947.png" alt="...">
      <p>Capitan (B) Rafael Antonio Vivas</p>
    </section>
  </div>
</div>
</div>
<div class="rows-video">
  <div class="content-video">
    <iframe width="600" height="315" src="https://www.youtube.com/embed/-3Lm3MLdfbY?si=GD0BOCzs1pKlqcNl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</div>
<div class="information-center">
  <section class="information-aboutme">
    <h3 id="mision">Mision:</h3>
    <p>
      El Cuerpo de Bomberos y Bomberas del Municipio San
      Cristóbal del estado Táchira, tiene como misión salvaguardar la vida de
      personas y animales.
    </p>
    <P>
      Atender emergencias de cualquier tipo, realizar inspecciones técnicas y
      emitir informes sobre las condiciones de los bienes públicos y privados.
    </P>
    <p>

      Así como garantizar el ejercicio de los
      derechos ciudadanos frente a situaciones que representan amenaza,
      vulnerabilidad o riesgo, en forma oportuna y efectiva.
    </p>
  </section>
  <section class="information-aboutme">
    <h3 id="vision">Vision:</h3>
    <p>
      <span>"</span> Prestar un servicio oportuno basado en tecnología de punta
      en las áreas de prevención y extinción de incendios, así como en la
      administración directa y permanente de las emergencias. <span>"</span>
    </p>
  </section>
  <section class="information-aboutme">
    <h3>Valores:</h3>
    <section class="list-valores">
      <ul>
        <li>Respeto</li>
        <li>Eficiencia</li>
        <li>Disciplina</li>
        <li>Abnegacion</li>
        <li>Solidaridad</li>
      </ul>
      <ul>
        <li>Etica</li>
        <li>Honradez</li>
        <li>Innovacion</li>
        <li>Compromiso</li>
        <li>Creatividad</li>
      </ul>
    </section>
  </section>
</div>

{% endblock %}