{% extends "blog.html" %} {% block content %}
<div class="inicial-carrousel-one">
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active elemento">
        <img
          src="https://i.postimg.cc/rmMQZFfB/Cuartelcentral-tomadron.jpg"
          alt="Img-cuartel-one"
        />
        <div class="filter"></div>
      </div>
      <div class="carousel-item elemento">
        <img
          src="https://i.postimg.cc/fTp5nvHj/planta-baja.jpg"
          alt="background-login"
        />
        <div class="filter"></div>
      </div>
      <div class="carousel-item elemento">
        <img
          src="https://i.postimg.cc/4NmwS01x/parte-frontal-cuartel-central.jpg"
          alt="background-login"
        />
        <div class="filter"></div>
      </div>
    </div>
  </div>
</div>
<div class="section-area-tecnical-function">
  <div class="name-fuction">
    <h3>Area Tecnica</h3>
  </div>
  <div class="link-function">
    <section class="atention-person">
      <a href="#infomacion-ciudadano">
        <img src="../../static/assets/image 13.svg" alt="Atencion al cliente" />
      </a>
      <span>Atencion Al Ciudadano</span>
    </section>
    <section class="atention-person">
      <a href="salasituacional/">
        <img src="../../static/assets/image 14.svg" alt="" />
      </a>
      <span>Sala Situacional</span>
    </section>
    <section class="atention-person">
      <a href="glp/">
        <img src="../../static/assets/image 16.svg" alt="" />
      </a>
      <span>GLP</span>
    </section>
    <section class="atention-person">
      <a href="drones/">
        <img src="../../static/assets/drone.svg" alt="" />
      </a>
      <span>Drones</span>
    </section>
    <!-- <section class="atention-person">
      <a href="operaciones-incendios">
        <img src="../../static/assets/image 17.svg" alt="" />
      </a>
      <span>Operaciones</span>
    </section> -->
    <section class="atention-person">
      <a href="brigadajuvenil/">
        <img src="../../static/assets/image 18.svg" alt="brigada juvenil" />
      </a>
      <span>Brigada Juvenil</span>
    </section>
  </div>
</div>
<div class="services-institutional">
  <div class="name-fuction">
    <h3>Servicios Institucionales</h3>
  </div>
  <div class="operations">
    <div class="card-operation">
      <a href="blog_serviciosmedicos">Servicios Medicos</a>
    </div>
    <div class="card-operation">
      <a href="blog_prevencion">Seguridad y Prevencion</a>
    </div>
    <div class="card-operation">
      <a href="blog_capacitacion">Capacitaciones</a>
    </div>
    <div class="card-operation">
      <a href="blog_psicologia">Servicios Piscologicos</a>
    </div>
  </div>
</div>
<br />
<div class="name-fuction">
  <h3>Mando Institucional</h3>
</div>
<div class="institutional-comand">
  <section class="contain-comand">
    <article class="card-comand"></article>
    <article class="content-card-comand">
      <h2>Maxima autoridad</h2>
      <p>
        Dr. Silfredo Zambrado Primera Autoridad Civil Del Cuerpo de Bomberos.
      </p>
      <p>
        General (B) MSC. Antonio Jose Briceño Primer Comandante Cuerpo de
        bomberos del Estado Tachira.
      </p>
      <p>
        Dirige y administra el Cuerpo de Bomberos, asegurando el cumplimiento de
        leyes y normativas, gestionando recursos, informando a autoridades
        superiores, y coordinando con otros organismos.
      </p>
      <p>
        Supervisa la formación y profesionalización del personal, elabora
        presupuestos, y toma decisiones estratégicas para mantener la eficiencia
        operativa.
      </p>
    </article>
  </section>
</div>
<div class="institutional-comand segundo">
  <section class="contain-comand">
    <article class="content-card-comand">
      <h2>Segundo comandante</h2>
      <p>
        Coronel (B) Eduard Yulian Casas Segundo Comandante Cuerpo de bomberos
        del Estado Tachira.
      </p>
      <p>
        Apoya al Primer Comandante, ejerce mando en su ausencia, preside el
        Estado Mayor y el Consejo Disciplinario, coordina áreas operativas y
        administrativas, y asegura el cumplimiento de directrices y estándares
        organizacionales.
      </p>
    </article>
    <article class="card-comand two-comand"></article>
  </section>
</div>
<div class="institutional-comand">
  <section class="contain-comand">
    <article class="card-comand three-comand order-by"></article>
    <article class="content-card-comand">
      <h2>Inspector General</h2>
      <p>
        Coronel (B) Elias Hernandez Comandante y Inspector General del Cuerpo de
        bomberos del Estado Tachira.
      </p>
      <p>
        Cumple y hace cumplir las leyes y directrices del Primer y Segundo
        Comandante, ejerce mando en la institución, suple al Segundo Comandante
        en su ausencia, dirige investigaciones disciplinarias, promueve
        inspecciones semestrales, y coordina unidades de apoyo y asesoría.
      </p>
      <p>
        Además, implementa procedimientos disciplinarios, formaliza traslados
        internos, y presenta propuestas de proyectos a la Comandancia General.
      </p>
    </article>
  </section>
</div>
<div class="client-info">
  <section class="background-img-info" id="infomacion-ciudadano">
    <article class="information-background">
      <h3>Nuestras Estaciones y Atencion Al Usuario</h3>
      <p>
        Estamos presentes en puntos estrategicos de la ciudad de san cristobal
        para cuidar siempre de ti.
      </p>
      <a href="/contacto/">
        <button class="btn btn-danger">Ubicaciones</button>
      </a>
    </article>
  </section>
  <section class="background-img-localitation"></section>
</div>
{% endblock %}
