{% extends "blog.html" %} {% block content %}
<div class="inicial-carrousel-one">
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active elemento">
        <img
          src="https://i.postimg.cc/rmMQZFfB/Cuartelcentral-tomadron.jpg"
          alt="Img-cuartel-one"
        />
        <div class="filter"></div>
      </div>
      <div class="carousel-item elemento">
        <img
          src="https://i.postimg.cc/fTp5nvHj/planta-baja.jpg"
          alt="background-login"
        />
        <div class="filter"></div>
      </div>
      <div class="carousel-item elemento">
        <img
          src="https://i.postimg.cc/4NmwS01x/parte-frontal-cuartel-central.jpg"
          alt="background-login"
        />
        <div class="filter"></div>
      </div>
    </div>
  </div>
</div>
<div class="section-area-tecnical-function">
  <div class="name-fuction">
    <h3>Area Tecnica</h3>
  </div>
  <div class="link-function">
    <section class="atention-person">
      <a href="#infomacion-ciudadano">
        <img src="../../static/assets/image 13.svg" alt="Atencion al cliente" />
      </a>
      <span>Atencion Al Ciudadano</span>
    </section>
    <section class="atention-person">
      <a href="salasituacional/">
        <img src="../../static/assets/image 14.svg" alt="" />
      </a>
      <span>Sala Situacional</span>
    </section>
    <section class="atention-person">
      <a href="glp/">
        <img src="../../static/assets/image 16.svg" alt="" />
      </a>
      <span>GLP</span>
    </section>
    <section class="atention-person">
      <a href="drones/">
        <img src="../../static/assets/drone.svg" alt="" />
      </a>
      <span>Drones</span>
    </section>
    <section class="atention-person">
      <a href="operaciones-incendios">
        <img src="../../static/assets/image 17.svg" alt="" />
      </a>
      <span>Operaciones</span>
    </section>
    <section class="atention-person">
      <a href="brigadajuvenil/">
        <img src="../../static/assets/image 18.svg" alt="brigada juvenil" />
      </a>
      <span>Brigada Juvenil</span>
    </section>
  </div>
</div>
<div class="services-institutional">
  <div class="name-fuction">
    <h3>Servicios Institucionales</h3>
  </div>
  <div class="operations">
    <div class="card-operation">
      <a href="blog_serviciosmedicos">Servicios Medicos</a>
    </div>
    <div class="card-operation">
      <a href="blog_prevencion">Seguridad y Prevencion</a>
    </div>
    <div class="card-operation">
      <a href="blog_capacitacion">Capacitaciones</a>
    </div>
    <div class="card-operation">
      <a href="blog_psicologia">Servicios Piscologicos</a>
    </div>
  </div>
</div>
<br>
<div class="name-fuction">
  <h3>Mando Institucional</h3>
</div>
<div class="institutional-comand">
  <section class="contain-comand">
    <article class="card-comand"></article>
    <article class="content-card-comand">
      <h2>Maxima autoridad</h2>
      <p>
        La Profesion De Bombero, Demanda esfuerzo y sacrificio. superar nuestros
        limites y sobre todo enfrentarse a ambientes complicados.
      </p>
      <p>
        General (B) MSC. Antonio Jose Briceño Comandante Cuerpo de bomberos del
        Estado Tachira
      </p>
    </article>
  </section>
</div>
<div class="institutional-comand">
  <section class="contain-comand">
    <article class="content-card-comand">
      <h2>Segundo comandante</h2>
      <p>
        La Profesion De Bombero, Demanda esfuerzo y sacrificio. superar nuestros
        limites y sobre todo enfrentarse a ambientes complicados.
      </p>
      <p>
        Coronel (b) Eduard Casas Comandante Cuerpo de bomberos del
        Estado Tachira
      </p>
    </article>
    <article class="card-comand two-comand"></article>
  </section>
</div>
<div class="institutional-comand">
  <section class="contain-comand">
    <article class="card-comand three-comand"></article>
    <article class="content-card-comand">
      <h2>Jefe de Los Servicios</h2>
      <p>
        La Profesion De Bombero, Demanda esfuerzo y sacrificio. superar nuestros
        limites y sobre todo enfrentarse a ambientes complicados.
      </p>
      <p>
        Coronel (B) Elias Hernandez Comandante Cuerpo de bomberos del
        Estado Tachira
      </p>
    </article>
  </section>
</div>
<div class="client-info">
  <section class="background-img-info" id="infomacion-ciudadano">
    <article class="information-background">
      <h3>Nuestras Estaciones y Atencion Al Usuario</h3>
      <p>
        Estamos presentes en puntos estrategicos de la ciudad de san cristobal
        para cuidar siempre de ti.
      </p>
      <a href="/contacto/">
        <button class="btn btn-danger">Ubicaciones</button>
      </a>
    </article>
  </section>
  <section class="background-img-localitation"></section>
</div>
{% endblock %}
