{% extends "blog.html" %} {% block content %}
<section id="publicaciones" class="public-instagram">
  <h2 class="title-information-section">
    Publicaciones Instagram
  </h2>
  <!-- Contenedor de las Publicaciones -->
  <div class="instagram-feed">
    {% for post in posts %}
    <!-- Crear bloque de incrustación de Instagram para cada URL -->
    <blockquote
      class="instagram-media"
      data-instgrm-permalink="{{ post.url }}"
      data-instgrm-version="14"
      style="max-width: 320px"
    >
      <a href="{{ post.url }}" target="_blank"></a>
    </blockquote>
    {% endfor %}
  </div>
</section>
<script async src="https://www.instagram.com/embed.js"></script>
{% endblock %}
