{% extends "blog.html" %} {% block content %}

<section
  id="publicaciones"
  style="width: 70%; margin: 0 auto; margin-bottom: 20rem"
>
  <!-- LightWidget WIDGET -->
  <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
  <iframe
    src="//lightwidget.com/widgets/5b0a133b8ac95a278de22de0b0edc0f8.html"
    scrolling="no"
    allowtransparency="true"
    class="lightwidget-widget"
    style="width: 100%; border: 0; overflow: hidden"
  ></iframe>
</section>

{% endblock %}
