{% extends "blog.html" %} {% block content %}
<!-- <h2 class="captation-title"></h2> -->
<h2 class="title-information-section">
  ¿Deseas Formar Parte de nuestro Equipo?
</h2>
<div class="row-information">
  <section class="content-text">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ullam aut
      iste voluptates sint voluptatem recusandae eum porro adipisci, error enim
      eaque. Incidunt, et laboriosam laborum quod perferendis quisquam omnis.
    </p>
  </section>
  <section class="content-text">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ullam aut
      iste voluptates sint voluptatem recusandae eum porro adipisci, error enim
      eaque. Incidunt, et laboriosam laborum quod perferendis quisquam omnis.
    </p>
  </section>
</div>
<div class="line"></div>
<div class="rows-images-information">
  <section class="image-information image-2"></section>
  <section class="image-information image-3"></section>
</div>
<div class="line"></div>
<div class="row-information">
  <section class="content-text" id="Rafael-urdaneta">
    <h3>Requisitos:</h3>
    <ul>
      <li>Copia de la cedula de identidad.</li>
      <li>Copia del Titulo de Bachiller.</li>
      <li>Calificaciones media Diversificada.</li>
      <li>Partida de Nacimiento Legible.</li>
      <li>Resumen Curricular.</li>
      <li>Constancia de Inscripcion CNE.</li>
      <li>Numero de cuenta del Banco de Venezuela (Obligario).</li>
      <li>Fotos tipo carnet (2).</li>
      <li>Edades Comprendidas 17 a 30 años.</li>
    </ul>
    <p>
      Los documentos deben ser consignados en la oficina de talento humano del
      cuartel central.
    </p>
    <p>ubicada en la Av. 19 de abril Diagonal al Obelisco.</p>
  </section>
  <section class="content-image">
    <img
      src="https://i.postimg.cc/vH4hwZQY/IMG-20241119-WA0002.jpg"
      alt="image"
    />
  </section>
</div>
{% endblock %}
