{% extends "blog.html" %} {% block content %}
<!-- <h2 class="captation-title"></h2> -->
<h2 class="title-information-section">
  ¿Deseas Formar Parte de nuestro Equipo?
</h2>
<div class="row-information aling-center">
  <section class="content-text">
    <p>
      Unirte al Cuerpo de Bomberos de San Cristóbal es más que una decisión
      profesional; es un llamado a servir y proteger a nuestra comunidad. Como
      bombero, tendrás la oportunidad de enfrentar desafíos únicos, desarrollar
      habilidades valiosas y formar parte de una familia dedicada a salvar vidas
      y propiedades.
    </p>
    <p>
      Nuestro equipo está compuesto por individuos valientes y comprometidos que
      trabajan incansablemente para garantizar la seguridad y el bienestar de
      todos. Si tienes el deseo de marcar una diferencia y ser un héroe en tu
      comunidad, ¡te invitamos a unirte a nosotros!
    </p>
  </section>
  <section class="content-text">
    <p>
      En el Cuerpo de Bomberos de San Cristóbal, valoramos la disciplina, la
      abnegación y el estudio continuo. Ofrecemos un entorno de apoyo donde
      podrás crecer tanto personal como profesionalmente. Además, contarás con
      la formación y los recursos necesarios para enfrentar cualquier emergencia
      con confianza y eficacia.
    </p>
    <p> 
      No importa si eres un joven aspirante o un adulto con experiencia, siempre
      hay un lugar para ti en nuestro equipo. ¡Da el primer paso hacia una
      carrera gratificante y llena de propósito, y únete a nosotros hoy mismo!
    </p>
  </section>
</a>
</div>
<div class="line"></div>
<div class="rows-images-information">
  <section class="image-information image-2"></section>
  <section class="image-information image-3"></section>
</div>
<div class="line"></div>
<div class="row-information">
  <section class="content-text" id="Rafael-urdaneta">
    <h3>Requisitos</h3>
    <ul>
      <li>Copia de la cedula de identidad.</li>
      <li>Copia del Titulo de Bachiller.</li>
      <li>Calificaciones media Diversificada.</li>
      <li>Partida de Nacimiento Legible.</li>
      <li>Resumen Curricular.</li>
      <li>Constancia de Inscripcion CNE.</li>
      <li>Numero de cuenta del Banco de Venezuela (Obligario).</li>
      <li>Fotos tipo carnet (2).</li>
      <li>Edades Comprendidas 17 a 30 años.</li>
    </ul>
    <p>
      Los documentos deben ser consignados en la oficina de talento humano del
      cuartel central.
    </p>
    <p>ubicada en la Av. 19 de abril Diagonal al Obelisco.</p>
    <a href="{% url 'contacto' %}"><button class="btn btn-danger">Ubicacion</button></a>
  </section>
  <section class="content-image">
    <img
      src="https://i.postimg.cc/vH4hwZQY/IMG-20241119-WA0002.jpg"
      alt="image"
    />
  </section>
</div>
{% endblock %}
