{% extends "blog.html" %} {% block content %}
<head>
  <meta name="title" content="Zoedan">
</head>
<h2 class="title-information-section" id="informacion-zoedan">
  ZOEDAN Táchira
  <br>
  Coordinación y Respuesta ante Emergencias
</h2>
<div class="row-information aling-center">
  <section class="content-text">
    <p>
      El ZOEDAN (Zona Operativa de Evaluación de Daños y Análisis de Necesidades) Táchira es una entidad clave en la coordinación y supervisión de las actividades de evaluación de daños y análisis de necesidades en el estado Táchira, Venezuela. Comandada y dirigida por el General de bomberos MSC Antonio Briceño 
    </p>
    <p>Esta zona operativa es fundamental para la organización y ejecución de operaciones de respuesta ante emergencias, asegurando la protección y seguridad de la región.</p>
  </section>
  <section class="content-text">
    <p>
      El ZOEDAN Táchira tiene la tarea de coordinar, articular, planificar, ejecutar y hacer el seguimiento de las políticas públicas de prevención y mitigación de riesgos, así como de atención a desastres de carácter civil.
    </p>
    <p>La presencia del ZOEDAN Táchira es crucial para garantizar la seguridad y el bienestar de la comunidad, especialmente durante la temporada de lluvias y otros eventos climáticos adversos.</p>
  </section>
</div>
<div class="row-information aling-center">
  <section class="content-text center">
    <h2>Compromiso con la Comunidad</h2>
    <br>
    <p>
      El ZOEDAN Táchira trabaja incansablemente para proteger a la comunidad y garantizar una respuesta rápida y efectiva ante cualquier emergencia. Su compromiso con la seguridad y el bienestar de los ciudadanos es un pilar fundamental de su misión.
    </p>
    </section>
</div>
<div class="line"></div>
<section class="information-aboutme" id="estaciones-zoedan">
    <h3>Estaciones - Zoedan</h3>
    <section class="list-valores">
      <ul>
        <li>
        <a href="#Rafael-urdaneta">
            San Antonio
        </a>
        </li>
        <li>
        <a href="#municipio-andres-bello">
            Cordero
        </a>
        </li>
        <li>
        <a href="#Santa-Ana">
            Santa Ana
        </a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="#ureña">
              Ureña
          </a>
          </li>
        <li>
        <a href="#panamericana">
            Colon
        </a>
        </li>
        <li>
            <a href="#piñal">
                El Piñal
            </a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="#grita">
              La Grita
          </a>
      </li>
      <li>
          <a href="#junin">
              Junin
          </a>
      </li>
      <li>
          <a href="#lafria">
              La Fria
          </a>
      </li>
      </ul>
    </section>
  </section>
  <div class="line"></div>
<h2 class="title-information-section" id="Ubicaciones-zoedan">Ubicaciones</h2>
<div class="row-information">
  <section class="content-text"id="Rafael-urdaneta">
    <h2>Cuerpo de Bomberos Municipio Bolivar</h2>
    <br />
    <p><b>Direccion:</b> Barrio Rafael urdaneta calle 1 carrera 12 No.2-30 Municipio Bolivar</p>
    <p><b>Telefono: </b> 02767711800</p>
    <a href="#" target="_blank">
      <button class="btn btn-danger">
        <b>Ubicacion</b>
      </button>
    </a>
  </section>
  <section class="content-image">
    <img src="https://i.postimg.cc/FHPvFB7P/Rafael-urdaneta.jpg" alt="image" />
  </section>
</div>
<div class="line"></div>
<div class="row-information">
  <section class="content-image order-by">
    <img
      src="https://i.postimg.cc/65ygLp3h/municipio-andres-bello.jpg"
      alt="image"
    />
  </section>
  <section class="content-text" id="municipio-andres-bello">
    <h2>Cuerpo de Bomberos Municipio Andres Bello</h2>
    <br />
    <p><b>Cuartel Sub Teniente Pedro Alviarez</b></p>
    <p>
      <b>Direccion: </b>Cordero, Municipio Andres bello, Urbanizacion la Pradera, Avenida Rafael
      Urdaneta entre calles 13 y 14.
    </p>
    <p><b>Telefono: </b> 0276-3962271</p>
    <a href="#" target="_blank">
      <button class="btn btn-danger">
        <b>Ubicacion</b>
      </button>
    </a>
  </section>
</div>
<div class="line"></div>

<div class="row-information">
  <section class="content-text" id="Santa-Ana">
    <h2>Cuerpo de Bomberos Municipio Cordoba</h2>
    <br />
    <p><b>Direccion: </b>Av. Aurelio Chacon, Santa Ana, Municipio cordoba</p>
    <p><b>Telefono: </b> 0276-7668172</p>
    <a href="https://maps.app.goo.gl/qvnCs36sGLZf2ucz5" target="_blank">
      <button class="btn btn-danger">
        <b>Ubicacion</b>
      </button>
    </a>
  </section>
  <section class="content-image">
    <img src="https://i.postimg.cc/wvKFJDvC/Santa-Ana.jpg" alt="image" />
  </section>
</div>
<div class="line"></div>

<div class="row-information">
  <section class="content-image order-by">
    <img src="https://i.postimg.cc/kMSGfK5j/Bomberos-ure-a.jpg" alt="image" />
  </section>
  <section class="content-text" id="ureña">
    <h2>Cuerpo de Bomberos Pedro Maria Ureña</h2>
    <br />
    <p><b>Direccion: </b> Calle 10 carrera 3 y 4 #3-45 Barrio Bonilla</p>
    <p><b>Telefono: </b> Sin numero</p>
    <a href="#" target="_blank">
      <button class="btn btn-danger">
        <b>Ubicacion</b>
      </button>
    </a>
  </section>
</div>
<div class="line"></div>
<div class="row-information">
  <section class="content-text" id="panamericana">
    <h2>Cuerpo de Bomberos Municipio Ayacucho</h2>
    <br />
    <p>
      <b>Direccion: </b> Carretera Panamericana, Sector El pinar, San juan de
      Colon Estado Tachira
    </p>
    <p><b>Telefono: </b> 0277-2912775</p>
    <a href="#" target="_blank">
      <button class="btn btn-danger">
        <b>Ubicacion</b>
      </button>
    </a>
  </section>
  <section class="content-image">
    <img src="https://i.postimg.cc/PfVyQGPb/panamericana.jpg" alt="image" />
  </section>
</div>
<div class="line"></div>

<div class="row-information" id="piñal">
  <section class="content-image order-by">
    <img src="https://i.postimg.cc/8PVRH1T6/pi-al-municipio-la-morita.jpg" alt="image" class="expand-img"/>
  </section>
  <section class="content-text">
    <h2>Cuerpo de Bomberos Municipio Fernandez Feo</h2>
    <br />
    <p>
      <b>Direccion: </b> Calle 1 Via la morita Entre carrera 6 y 7. El piñal
      municipio Fernandez feo. Cuartel Central Bro (F) Hernan silva Henao
    </p>
    <p><b>Telefono: </b>0277-2341122</p>
    <a href="#" target="_blank">
      <button class="btn btn-danger">
        <b>Ubicacion</b>
      </button>
    </a>
  </section>
</div>
<div class="line"></div>

<div class="row-information" id="grita">
  <section class="content-text">
    <h2>Cuerpo de Bomberos Municipio Jauregui</h2>
    <br />
    <p>
      <b>Direccion: </b> La grita Municipio Jauregui, Avenida los Pinos Cuerpo de bomberos Jauregui Cap. (+) Gilberto Pernia Garcia
    </p>
    <p><b>Telefono: </b>0277-8811988</p>
    <a href="#" target="_blank">
      <button class="btn btn-danger">
        <b>Ubicacion</b>
      </button>
    </a>
  </section>
  <section class="content-image">
    <img src="https://i.postimg.cc/DyVgMrPm/la-grita.jpg" alt="image" />
  </section>
</div>
<div class="line"></div>

<div class="row-information" id="junin">
  <section class="content-image order-by">
    <img src="https://i.postimg.cc/25XdFh5k/san-martin.jpg" alt="image" />
  </section>
  <section class="content-text">
    <p>
        <h2>Cuerpo de Bomberos Municipio Junin</h2>
    <br />
    <p>
      <b>Direccion: </b> Calle 16, Con avenida 9 y 19, San Martin. Bomberos municipio Junin.
    </p>
    <p><b>Telefono: </b>0276-7620603 / 0276-7623788</p>
    <a href="#" target="_blank">
      <button class="btn btn-danger">
        <b>Ubicacion</b>
      </button>
    </a>
    </p>
  </section>
</div>
<div class="line"></div>
<div class="row-information" id="lafria">
  <section class="content-text">
    <h2>Cuerpo de Bomberos Municipio Garcia De Hevia</h2>
    <br />
    <p>
      <b>Direccion: </b> Calle 2 Antigua estacion Ferrocarril</p>
    <p><b>Telefono: </b>0277-5411599</p>
    <a href="#" target="_blank">
      <button class="btn btn-danger">
        <b>Ubicacion</b>
      </button>
    </a>
  </section>
  <section class="content-image">
    <img src="https://i.postimg.cc/vT7whtcB/la-fria.jpg" alt="image" />
  </section>
</div>
{% endblock %}
